.border-card{
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 10px 30px #99999933;
border-radius: 8px;
width: 370px;
height: max-content;
padding-bottom: 6%;
a{
            
            border: 1px solid #9d60eb;
            padding: 14px 30px;
            font: normal normal medium 15px/23px Poppins;
            letter-spacing: 0px;
            color: #6362d7;
            text-transform: capitalize;
            border-radius: 4px;
            text-decoration: none;
            &:hover{
                background: transparent linear-gradient(57deg, #6362d7 0%, #ff8fe2 100%) 0% 0% no-repeat;
                color: white;
            }
            &:active{
                background: transparent linear-gradient(57deg, #6362d7 0%, #ff8fe2 100%) 0% 0% no-repeat;
                color: white;
            }
    }
}