.get-touch {
    background: transparent linear-gradient(1deg, #ffffff 0%, #c9e6ff 100%) 0% 0% no-repeat padding-box;
    .contact-form {
        background-color: white;
        margin: 0 auto;
        width: 60% !important;
        padding: 0;
        form {
            width: 100% !important;
            height: 65% !important;
            padding: 5% 5% 0 5%;
            label {
                font-family: "Poppins", sans-serif;
                letter-spacing: 0px;
                color: #222222;
            }
            input,
            textarea,
            select {
                font-family: "Poppins", sans-serif;
                letter-spacing: 0px;
                color: #c2c2c2;
                padding: 0;
            }
        }
    }
}

.button {
    border: 2px solid #9d60eb;
    color: #9d60eb;
    a {
        text-decoration: none;
    }
}
.button:hover {
    background: transparent linear-gradient(59deg, #6362d7 0%, #ff8fe2 100%) 0% 0% no-repeat padding-box;
    color: white;
    a {
        color: white;
    }
}

@media only screen and (max-width: 1200px) {
    .get-touch {
        .contact-form {
            width: 85% !important;
        }
    }
}
