.our-client{

    .card{
        width: 350px ;        
        border-style: none;
    }
    .client-image{
        margin: 0  auto;
        width: 187px;
        height: 187px;
    }
    
}

.card-quotes{
    height: 85px !important;
    width: 41px !important;
    background-color: yellow;
}

.clients-img{
    width: 280px;
    height: 375px;
    background-color: turquoise;
}
