
.card-product{

    height: 350px;
    background-color: transparent;
    div{
        height: 80%;
        background-color: transparent;
        padding: 10%;
        height: 270px;
        box-shadow: 0px 0px 15px 8px rgb(233, 233, 233);
    }
    img{
        margin: 3% 0 10% 0;
        a{
            margin-top: 10%;
        }
    }
}

.owning-product{
    margin-bottom:1% ;
    margin-top: 6%;
    background-color: transparent;
    height: 100px;    
}



